.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.show__filtered_button {
  border: 1px solid grey;
  border-radius: 3px;
  outline: none;
  background: none;
  cursor: pointer;
}

.show__filtered_button__active {
  color: red;
}
